<%= render 'header' %>

<h1>Listing items</h1>

<table>
  <tr>
  	<th>ID</th>
    <th>Header</th>
    <th>Dimensions</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
  	<td><%= item.id %></td>
    <td><%= item.header %></td>
    <td><%= item.dim %></td>
    <td><%= item.desc %></td>
    <% if can? :read, @items %>
    	<td><%= link_to 'Show', item %></td>
    <% end %>
    <% if can? :update, @items %>
    	<td><%= link_to 'Edit', edit_item_path(item) %></td>
    <% end %>
    <% if can? :destroy, @items %>
    	<td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @items %>
	<%= link_to 'New Item', new_item_path %>
<% end %>
