= form_for @item, :html => { :multipart => true } do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :header
    %br/
    = f.text_field :header
  .field
    = f.label :dim
    %br/
    = f.text_field :dim
  .field
    = f.label :desc
    %br/
    = f.text_area :desc
  %div
    = f.file_field :image
  .actions
    = f.submit