<%= render 'header' %>
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @item.header %></h1>
</p>

<%= image_tag @item.image.url(:medium) %>

<p>
  <h5><%= @item.dim %></h5>
</p>

<p>
  <%= @item.desc %>
</p>

<%= link_to 'Back', pages_search_path %>
