<p id="notice"><%= notice %></p>

<p>
  <b>Header:</b>
  <%= @item.header %>
</p>

<p>
  <b>Dim:</b>
  <%= @item.dim %>
</p>

<p>
  <b>Desc:</b>
  <%= @item.desc %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
